.speedDialIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  z-index: 1;
}
.catory {
  width: 100%;
  height: 150px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 10px;
}
.catory > div > div > h4 {
  color: black;
  padding-top: 15px;
}
.catory > div {
  width: 9%;
}
.imgesd > img {
  width: 100%;
  height: 100px;
}
.imgesd > img {
  width: 100%;
}
.search1 {
  display: none;
}
.search {
  display: block;
  margin-top: 10px;
}
.hambuer {
  display: none;
}
.ptages {
  width: 22px;
  background-color: black;
  height: 22px;
  position: relative;
  margin-top: -42px;
  margin-left: 30px;
  border-radius: 100%;
  color: white;
  font-size: 15px;
}
.signin {
  color: black;
}

.names {
  color: black;
  font-size: 20px;
  margin-left: 8px;
}
.logins {
  color: black;
  font-size: 20px;
  margin-left: 8px;
}
.cartsig {
  height: 100%;
  color: black;
}
.cartsig > h5 {
  text-align: center;
}
.Logoimg{
  margin-top: -20px;
}
.Logoimg>img{
  width: 100%;
  height: 90px;
}
@media screen and (max-width: 1074px) {
  .nav {
    height: 80px;
  }
}
 @media screen and (max-width: 800px) {
  .search1 {
    display: block;
  }
  .search {
    display: none;
  }
  h1 {
    font-size: 18px;
    margin-left: 8px;
    margin-top: 20px;
  }
  .speedDialIcon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  .hambuer {
    display: block;
    color: white;
    font-size: 20px;
  }
  .nav {
    height: 130px;
  }

  .cartsig > h2 {
    font-size: 20px;
    text-align: center;
    align-content: center;
   margin: auto;
  }
  .cartsig > h4 {
    font-size: 15px;
    text-align: center;
   
  }
  .names{
    font-size: 15px;
    text-align: center;
  }
  .signin>h2{
    font-size: 20px;
  }
  .signin> h4 {
    font-size: 15px;
   
  }
  .Logoimg{
    margin-top: -10px;
  }
  .Logoimg>img{
    width: 100%;
    height: 70px;
  }
  .logins {
    font-size: 17px;
    margin-top: 25px;
  }
  .ptages {
    margin-top: -34px;
    width: 18px;
    height: 18px;
  }
  .catory {
    width: 100%;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .catory > div {
    width: 10%;
  }
  .imgesd > img {
    width: 100%;
    height: 40px;
  }

  .catory > div > div > h4 {
    font-size: 8px;
    color: black;
    padding-top: 15px;
  }
} 
