footer {
  padding: 2vmax;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-top: 1px solid black;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
  color: rgb(70, 105, 170);
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 2.5vmax;
  color: #eb4034;
  font-weight: bolder;
  text-shadow: 0px 0px 2px #33c6b7;
}
.midFooter>div>img{
height: 200px;
width: 200px;
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
  font-size: 1vmax;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
  color: rgb(131, 127, 127);
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:rgb(23, 143, 191);
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}
@media screen and (max-width: 1170px) {
  .midFooter>div>img{
    height: 180px;
    width: 190px;
    }
}
@media screen and (max-width: 900px) {
  .midFooter>div>img{
    height: 150px;
    width: 150px;
    }
}
@media screen and (max-width: 700px) {
  .midFooter>div>img{
    height: 110px;
    width: 110px;
    }
}
@media screen and (max-width: 500px) {
  .midFooter>div>img{
    height: 100px;
    width: 100px;
    }
}
@media screen and (max-width: 400px) {
  .midFooter>div>img{
    height: 90px;
    width: 90px;
    }
}