.productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}
.divflex{
  display: flex;
  width: 100%;
}
.products {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30vh;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}

.filterBox {
 width: 15%;
 padding-left: 20px;
 padding-right: 20px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 height: 100vh;
}
.h4{
  padding-top: 20px;
}

.categoryBox {
  padding: 0%;
}

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 600 1vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.category-link:hover {
  color: tomato;
}

.filterBox > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.329);
}
.displaybutton{
  display: none;
}
.filterBox1{
  display: none;
}
.filterBox2{
  display: none;
}
.priceset{
  display: flex;

}
.priceset>input{
  width: 40%;
  margin-right: 10px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .products{
    width: 100%;
  }
  .filterBox{
    display: none;
  }
  .filterBox1 {
    display: block;
    width: 45%;
    position: absolute;
   z-index: 3;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding-right: 20px;
   height: auto;
   margin-bottom: 100px;
  }
  h4{
    color: rgb(23, 43, 223);
  }
  .filterBox2{
    display: none;
  }
  .displaybutton{
    display: block;
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
}
