.searchBox {
  margin: auto;
  height: 50px;
  display: flex;
  width: 100%;
}
.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 3vmax;
  width: 80%;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font: 300 1.3vmax "cursive";
  box-sizing: border-box;
  height: 80%;
}

.searchBox > input[type="submit"] {
  border-radius: 0%;
  background-color: black;
  border: none;
  width: 20%;
  font: 300 1vmax "Roboto";
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  border: 1px solid rgb(231, 219, 219);
  height: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  align-items: center;
  align-content: center;
  
}

.searchBox > input[type="submit"]:hover {
  background-color: rgb(182, 171, 20);
}
@media screen and (max-width: 1074px) {
  .searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 3vmax;
    width: 120%;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font: 300 1.3vmax "cursive";
    box-sizing: border-box;
    height: 70%;
  }
  
  .searchBox > input[type="submit"] {
    border-radius: 0%;
    background-color: black;
    border: none;
    width: 20%;
    font: 300 1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    border: 1px solid rgb(231, 219, 219);
    height: 70%;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    align-items: center;
    align-content: center;
    
  }
}

 @media screen and (max-width: 800px) {
  .searchBox {
    height: 40px;
    display: flex;
    width: 70%;
    margin-left: auto;
   
  }
  .searchBox > input[type="text"] {
    width: 85%;
    height: 80%;
    font: 300 1.8vw "cursive";
    
  }

  .searchBox > input[type="submit"] {
    height: 80%;
    width: 20%;
    font: 300 1.8vw "Roboto";
    padding: 9px 17px 6px 17px;
    text-align: center;
   
  }
} 
