.CartItemCard {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
}
.CartItemCard > img {
  width: 5vmax;
}

.CartItemCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.CartItemCard > div > a {
  font: 300 0.9vmax cursive;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}

.CartItemCard > div > span {
  font: 300 0.9vmax "Roboto";
  color: rgba(24, 24, 24, 0.815);
}

.CartItemCard > div > p {
  background-color: tomato;
  color: white;
  border: none;
  padding: 0.8vmax 1vmax;
  font: 300 0.8vmax "Roboto";
  width: 30%;
  cursor: pointer;
  border-radius: 30px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .CartItemCard {
    padding: 3vmax;
    height: 25vmax;
  }
  .CartItemCard > img {
    width: 10vmax;
  }

  .CartItemCard > div {
    margin: 1vmax 2vmax;
  }

  .CartItemCard > div > a {
    font: 300 1vmax cursive;
  }

  .CartItemCard > div > span {
    font: 300 1.5vmax "Roboto";
  }
  .CartItemCard > div > p {
    background-color: tomato;
    color: white;
    border: none;
    padding: 0.8vmax 1vmax;
    font: 300 0.7vmax "Roboto";
    width: 30%;
    cursor: pointer;
    border-radius: 30px;
  }
}
