#productcards{
      height: 400px;
      width: 100%;
      display: block;
}
#productcardsimg{
      height: 60%;
      width: 100%; 
}
#productcardsimg>img{
      height: 100%;
      width: 100%; 
}
#productcardname{
      height: 18%;
      overflow: hidden;
      width: 100%;
}

#productcardrating{
      height: 20%; 
      width: 100%;
      font-size: 1rem;
      overflow: hidden;
}
#productcardprice{
      width: 100%;
      height: 9%;
      font-weight: bold;
      color: red;
      text-align: center;
      align-items: center;
      align-content: center;
      overflow: hidden;
}
@media screen and (max-width:1545px) {
      #productcards{
            height: 350px;
            width: 100%;
            display: block;
      } 
}
@media screen and (max-width:980px) {
      #productcards{
            height: 300px;
            width: 100%;
            display: block;
      } 
}
@media screen and (max-width:600px) {
      #productcards{
            height: 200px;
            width: 100%;
            display: block;
      } 
}
@media screen and (max-width:500px) {
      #productcards{
            height: 200px;
            width: 100%;
            display: block;
      } 
}